# 1. Code to scrape the Wikipedia page - List of postal codes of Canada: M

In [17]:
import pandas as pd

In [18]:
df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')[0]

In [19]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

# 2. Ignore cells with a borough that is Not assigned.

In [20]:
dfDropNA = df[df.Borough != 'Not assigned'].reset_index(drop=True)   # we create new df for convenience and testing instead of overwriting using inplace=True

In [23]:
dfDropNA.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

# 3. More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

In [52]:
# use Pandas GroupBy and use apply() to invoke Join on the data to concatenante the Neighbourhood
dfGroupByPCB = dfDropNA.groupby(['Postal Code','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
dfGroupByPCB.head()   # we dont see any duplicate postal codes with different neighbourhood

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

In [41]:
# Get Neighbourhoods
dfGroupByPCBN = dfGroupByPCB['Neighbourhood'].apply(', '.join).reset_index()
dfGroupByPCBN.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

# 4. If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.

In [73]:
# Replace Not assigned neighbourhood with Borough 
dfGroupByPCBN.Neighbourhood.fillna(dfGroupByPCBN.Borough,inplace=True)
dfGroupByPCBN.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

# 5. Use the .shape method to print the number of rows of your dataframe.

In [78]:
dfGroupByPCBN.shape

(103, 3)

In [79]:
df.shape

(180, 3)